
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;

  background-color: #e2eeef;
 
}

input {
  border: 0.25rem solid rgba(116, 148, 234, 1);

}